.login-heading-color{
    color: rgb(63, 143, 212);
}
.verticalLine {
    margin-left: 6px;
    margin-right: 6px;
    border-right: 1.5px solid #000000;
    height: 20px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
}
